<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="node_modules/swup/dist/swup.min.js"></script>
    <script defer src="script.js"></script>
    <link href="style.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href='/home'>Home</a></li>
        </ul>
    </nav>
    <main id='swup' class='trasition-fade'>
        <h1>This is the bienvenida page</h1>
    </main>
</body>
</html>