{% extends "proyecto_web_app/base.html" %}
{% load static %}

{% block content %}

{% for post in posts %}

<div><p>
    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-4 mb-lg-0 rounded-circle" src="{{post.imagen.url}}" alt="", style="width: 50%;" >
            <div class="intro-text left-0 text-center bg-faded p-5 rounded" style="outline: 8px dashed coral; outline-offset: -15px;" >
                <h2 class="section-heading mb-4" >
                    <span class="section-heading-lower">{{post.titulo}}</span>
                    <p> </p>
                    <p> </p>
                    <span class="section-heading-upper">{{post.contenido}}</span>
                </h2>
                <div>
                    <p class="autor"><small class="text-muted">Autor: {{post.autor}}</small></p>
                    <p class="fecha_actualizacion"><small class="text-muted">{{post.fecha_actualizacion}}</small></p>
                </div>
            </div>
          </div>
        </div>
      </section>
    
</p></div>

{% endfor %}

<section>
    <div class= rounded style="width: 75%; height: 8%; margin: auto; text-align: center; vertical-align: middle; line-height: 350%; background-color: coral; color: black;">
        Categorias: &nbsp;&nbsp;
        {% for post in posts %}
        {% for categoria in post.categorias.all %}
        <a href="{% url 'Categoria' categoria.id %}" class="links_categorias">{{categoria.nombre}}</a> &nbsp;&nbsp;&nbsp;&nbsp;
        
        {% endfor %}
        {% endfor %}
        <a href="{% url 'Blog' %}" class="links_categorias">Todas</a>
    </div>
    <div>
        <p>

        </p>
    </div>
</section>
{% endblock %}